.header{
    align-items: center;
    text-align: center;
}
.header button{
    margin-right:10px;
    margin-left:10px;
    padding: 4px;
    width: 120px;
    height: 40px;
    font-size: 20px;
    color:white ;
    border:1px solid;
    border-radius:25px;
    background-color: #77002e;
    cursor:pointer;
    margin-top:40px
}